# User Testing Report

User testing was conducted by Jenny Richardson on October 22, 2013 between the times of 3:15 and {3:45} with the following participants:

- Kathryn Hallett
- Tirzah Woods
- Kayla Tuor

## Tasks

1. From the homepage, find two different ways to locate the page about different bat species.
2. Where would you go to find information on the life span of a bat?
3. How do you get back to the home page from another page?

---

## Individual Results & Observations

### Kathryn Hallett

- She found and clicked all the proper links right away
- She didn't have any troubles finding particluar pages and instinctivly knew to hit the logo to get to the homepage
- She said that everything seemed easy, and self explanitory


### Tirzah Woods

- She had a hard time finding the different types of bats from the home page, but eventually found it 
- She said that it would have been easier to find the pages if she took more time to read the different sections in the navigation bar
- Aside from having troubles finding the "types of bats" links, everything else was easy and well laid out

### Kayla Tuor

- She completed all of the tasks on her own without asking questions
- She said everything was easy to find

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- There wern't really any usability issues, they were able to find everything on their own.

### Serious, Causes Frustration, May Hinder Completion

- All of them suceeded with little to no troubles.

### Minor, Annoying, Won’t Hinder Completion

- The only thing I may have to change is a button on my home page directing the user to the "types of bats" page, instead of just hyperlinking the words in the text.
