@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	background-color: #F9F9F4;
	font: Georgia, "Times New Roman", Times, serif;
}

@media only screen and (min-width: 187em) {

	html {
		background-color: #F9F9F4;
		font-size: 1.5em;
	 }
}

body {
	margin: 0 auto;
	max-width: 700px;
	background-color: #F9F9F4;
}

@media only screen and (min-width: 240px) {
	
	body {
		max-width: none;
	}
}

.logo {
	padding: 0px 20px 0px 20px;
	width: 100%;
}

h1 {
	padding: 0px 0px 0px 10px;
	color: #383026;
}

h2 {
	padding: 0px 0px 0px 10px;
	font-weight:400;
	color: #383026;
}

h3 {
	color: #CE7F20;
}

.header-border {
	clear:both;
	background:#C6BDAC;
	border-top:4px solid #383026;
	margin:0;
	padding:6px 15px;
	text-align:left;
}

p {
	padding: 0px 10px 0px 10px;
	display: block;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	background: #C6BDAC; 
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}
	
nav ul li {
	float: left;
}

nav ul li:hover {
	background: #383026;
}

nav ul li:hover a {
	color: #fff;
}
	
nav ul li a {
	font-size: 1.2em;
	display: block; 
	padding: 10px 20px;
	color: #383026; 
	text-decoration: none;
}
	
nav ul ul ul {
	position: absolute; 
	left: 100%; 
	top:0;
}
.flex-img {
	display: block;
	padding: 0px 0px 15px 0px;
	width: 100%;
}

.grid {
	border: 1px;
	overflow: hidden;
}

.unit {
	float: left;
	width: 33.33333%;
}

.unit-2-3 {
	width: 66.66667%;
}

.unit-spacer {
	padding: 1em;
}

a	{
    color: #91500F;
}

.skiplinks {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	zed-index: 3000;
	
	font-size: 1.25rem;
	font-weight: bold;
	list-style-type: none;
}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited {
	padding: 0.75em 1em;
	position: absolute;
	top: -10em;
	
	background-color: #000;
	
	color: #FFF;	
	text-decoration: none;
}

.skiplinks a:focus {
	top: 0;
}

a,
a:link,
a:visited; {
	outline: none;
}

a:hover,
a:active {
	outline: none;
}

a:focus {
	outline: 3px solid #000;
}

@media only screen and (max-width: 38em) {
	
	nav ul {
		width: 200px;
		font-size: 0.9em;
		background: #F9F9F4; 
		padding: 0%;
		border-radius: 10px;  
		list-style: none;
		position: relative;
		display: inline-table;
	}

	nav ul li a {
		font-size: 1.2em;
		display: block; 
		padding: 10px 10px;
		color: #383026; 
		text-decoration: none;
	}
}


#footer {
	padding:10px;
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}

#footer p {
	padding:10px;
	margin:0;
}
