<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bat Society - Information About Bats</title>
	<meta name="description" content="Bats are more than just creatures of the night. Here at Bat Society we will provide you with information about different bat species.">
	<link href="css/normalize.css" rel="stylesheet">
	<link href="css/general.css" rel="stylesheet">
	<link href="css/grid.css" rel="stylesheet">
	<script src="js/modernizr.js"></script>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta property="og:type" content="article">
	<meta property="og:title" content="Bat Society - Information About Bats">
	<meta property="og:url" content="http://batsociety.com/index.html">
	<meta property="og:image" content="http://batsociety/img/bats.jpg">
	<meta property="og:description" content="Bats are more than just creatures of the night. Here at Bat Society we will provide you with information about different	 bat species.">
	<meta property="og:site_name" content="batsociety.com/Bat Society">
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="Bat Society - Information About Bats">
	<meta property="twitter:url" content="http://batsociety.com/index.html">
	<meta property="twitter:image" content="http://batsociety/img/bats.jpg">
	<meta property="twitter:description" content="Bats are more than just creatures of the night. Here at Bat Society we will provide you with information about different bat species.">
</head>
<body id="top">

	<ul class="skiplinks">
		<li><a href="#main">Skip to primary content</a></li>
		<li><a href="#complementary">Skip to secondary content</a></li>
		<li><a href="#navigation">Skip to navigation</a></li>
	</ul>

<a href="index.html" rel="home"><div class="logo"><img src="images/logo.svg" alt="Bat Society Logo"></div></a>

<nav role="navigation" id="navigation">
	<ul>
		<li><a href="types-of-bats.html">Types of Bats</a></li>
        <li><a href="importance-of-bats.html">Importance of Bats</a></li>
        <li><a href="bat-information.html">Bat Information</a>  
        <li><a href="bat-locations.html">Bat Locations</a></li>
        <li><a href="diseases-and-threats.html">Diseases & Threats</a></li>
        <li><a href="interesting-facts.html">Interesting Facts</a></li>
	</ul>
</nav>

<main role="main" id="main">
{{content}}
</main>

<div id="footer" role="contentinfo">
		<p>©2013 bat society, All Rights Reserved</p>
		<a href="#top">Top</a>
</div>

<body>

</body>
</html>
